body {
	background-color: #c3c6e0;
	color: #2d4654;
	font-family: 'Quicksand', sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

p {
	font-size: 22px;
	margin-top: 10px;
}



#fun-content {
	margin-top: 70px;
	margin-left: 25%;
	margin-right: 25%;
}

#main-heading2 {
	text-shadow: 2px 2px #87BCDE;
}

#yelp-pic img{
	display: inline-block;
	border-radius: 8px;
	float: left; 
	margin: 50px 15px 15px 0px; 
	width: 200px;
	height: auto;
}