body {
	background-color: #c3c6e0;
	color: #2d4654;
	font-family: 'Quicksand', sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

p {
	font-size: 22px;
}


#about-content {
	margin-top: 70px;
	margin-left: 10%;
	margin-right: 10%;
}

#main-heading {
	/*text-shadow: 2px 2px #87BCDE;*/
	text-align: center;
	color: #c3c6e0;
	padding-top: 10px;
}

#welcome {
	margin: auto;
	margin-top: 20px;
	width: 400px;
	height: 400px;
	background-color: #8d909b;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	text-align: center;
	padding-top: 8em;
/*	border-style: solid;
	border-color: #c3c6e0;*/
}

#student {
	margin-left: 20%;
	margin-top: 10px;
	width: 300px;
	height: 300px;
	background-color: #8d909b;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	text-align: center;
	padding-top: 5em;
/*	border-style: solid;
	border-color: #2d4654;*/
}

#student h2 {
	text-align: center;
	color: #87bcde;
	padding-top: 10px;
	/*text-shadow: 2px 2px #eaf2ef;*/
}

#see-above {
	margin-left: 30%;
	margin-top: 30px;
	width: 300px;
	height: 300px;
	background-color: #8d909b;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	text-align: center;
	padding-top: 6em;
/*	border-style: solid;
	border-color: #2d4654;*/
}

#see-above h2 {
	text-align: center;
	color: #c3c6e0;
	padding-top: 5px;
	/*text-shadow: 2px 2px #eaf2ef;*/
}

#contact{
	margin-left: 55%;
	margin-top: -550px;
	width: 500px;
	height: 500px;
	background-color: #8d909b;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 50%;
	padding-top: 6em;
/*	border-style: solid;
	border-color: #87bcde;*/
}

#contact h2 {
	text-align: center;
	color: #87bcde;
	padding-top: 10px;
	/*text-shadow: 2px 2px #eaf2ef;*/
}

#contact img {
	width: 48px; 
	height: 48px; 
	padding-right: 5px;
}

#contact li {
	font-size: 20px;
	list-style: none;
	display: block;
	margin: 0px;
	padding-bottom: 5px;
	/*margin-bottom: 10px;*/
/*	margin-left: 10px;*/
}

#contact ul {
	padding-bottom: 10px;
}

#contact li a {
   text-decoration: none;
   color: #87bcde;
}

#contact li a:visited {
    text-decoration: none;
}

#contact li a:hover {
	font-weight: bold;
   color: #87bcde;
}

/* mobile styles */

/* range: 501-800px; */
@media all and (min-width: 501px) and (max-width: 800px) {
	
	#about-content {
		margin-left: 10%;
		margin-right: 10%;
	}
}


/* range: 0-500px; */
@media all and (max-width: 500px) {
	* {
    	margin: 0;
    	padding: 0;
    	outline: none;
    	box-sizing: border-box;
	}

	#about-content {
		margin-left: 0;
		margin-right: 0;
	}
	
	h1 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
	}

	#ginger {
		display: block;
		width: 100%;
	}

	#nav-menu {
		font-size: 15px;
		height: auto;
	}	
  	
  
   #nav-menu ul {
   	margin-left: 0;
      width: 100%;
      border-radius: 0;
    }

    #nav-menu li {
    	margin-left: 0;
      position: relative;
	   box-sizing: border-box;
      text-align: left;
      border: 1px solid rgba(255,255,255,0.3);
      /*border-right:1px solid rgba(255,255,255,0.3);*/
    }

   #welcome {
    	margin: 0 auto;
		margin-top: 90px;
		width: 300px;
		height: 300px;
		padding: 5px;
		padding-top: 6em;
		background-color: #2d4654;
	}

	#student {
    	margin: 0 auto;
		margin-top: 10px;
		background-color: #2d4654;
   }

   #see-above {
    	margin: 0 auto;
		margin-top: 10px;
		background-color: #2d4654;
   }

   #contact {
    	margin: 0 auto;
		margin-top: 10px;
		background-color: #2d4654;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		padding: 5px;
		padding-top: 2em;
   }

   #contact h2 {
		padding-top: 5px;
		/*font-size: 18px;*/
	}

	#contact img {
	width: 20px; 
	height: 20px; 
	padding-right: 2px;
	visibility: hidden;
	}

   #contact ul {
    	text-align: left;
    	margin-top: 0px;
    	margin-bottom: 2em;
   }

   #contact li {
    	font-size: 18px;
    	padding: 5px;
   }
}